
<div class="content" role="main" *ngIf="hideStatistics">

  <!-- Highlight Card -->
  <div>
    <button (click)="play()">Play</button>    
    <button (click)="reset()">Reset</button>    
  </div>

  <div>
    <span>Rounds played: {{rounds}}</span>
  </div>

  <div>
    <table>      
      <thead>
          <tr>
              <th>Player 1</th>
              <th>Player 2</th>
              <th>Result</th>              
          </tr>
      </thead>
    
      <tbody>
          <tr *ngFor = "let row of list">
              <td>
                {{row.player1Option}}
              </td>
              <td>
                  {{row.player2Option}}
                </td>
                <td>
                    {{row.result}}
                  </td>
            </tr>
      </tbody>
  </table>
  </div>
  <div>
      <button (click)="showStatisticsInfo()">Totalized statistics</button>
  </div>

  </div>

  <div *ngIf="!hideStatistics">
      <div>
          <table>      
            <thead>
                <tr>
                    <th>Total rounds</th>
                    <th>Total Player 1 wins</th>
                    <th>Total Player 2 wins</th>
                    <th>Total draws</th>              
                </tr>
            </thead>
          
            <tbody>
                <tr>
                    <td>
                      {{stats.totalRounds}}
                    </td>
                    <td>
                        {{stats.totalPlayer1Wins}}
                      </td>
                      <td>
                          {{stats.totalPlayer2Wins}}
                        </td>
                        <td>
                            {{stats.totalDraws}}
                          </td>
                  </tr>
            </tbody>
        </table>
        </div>

    <div>
      <button (click)="hideStatisticsInfo()">Back</button>
    </div>
  </div>
